MONGODB_URI=mongodb+srv://rafay:012345Poi@cluster0.zjuyxhv.mongodb.net/autogen?retryWrites=true&w=majority
JWT_SECRET=085d202f6a7c911370bad71fe3ea7bb634a93b5439bd4dd39d89c3f54e0da1be
ANTHROPIC_API_KEY=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
AI_SERVICE_URL=http://localhost:8000
PORT=5000
